.container{
    border:2px solid black;
    height:400px;
    display: flex;
    /* flex-direction: column; */
    flex-wrap: wrap;
    /* gap:10px; to give gap between elements */
    row-gap: 10px;
    column-gap: 10px;
    align-items: center;
    justify-content: center;
    /* align-content: start;  align-content property is used when you want to reduce gap between 2 rows when your container size shrinkss */
    /* flex-flow: wrap row; flex-flow is a short hand of flex-direction and flex-wrap */
}
.box{
    /* background-color: aqua; */
    border:2px solid red;
    /* width: 100px; */
}
#box1{
    order:1
}
*{
    box-sizing: border-box;
}